<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mistura.eventapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Event App</name>
    <description>A mobile app for managing events and attendees, built by Mistura.</description>
    <author email="misturaaaishola@gmail.com" href="https://github.com/TurahRae">
        Mistura Ishola
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <icon src="res/icon.png" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="Fullscreen" value="false" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-statusbar" />
</widget>
